# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
app/app/public/wp-admin/
app/app/public/wp-content/index.php
app/app/public/wp-content/languages
app/app/public/wp-content/plugins/index.php
app/app/public/wp-content/themes/index.php
app/app/public/wp-includes/
app/app/public/index.php
app/app/public/license.txt
app/app/public/readme.html
app/app/public/wp-*.php
app/app/public/xmlrpc.php

# Configuration
app/app/public/wp-config.php

# Example themes
app/app/public/wp-content/themes/twenty*/

# Example plugin
app/app/public/wp-content/plugins/hello.php

# Uploads
app/app/public/wp-content/uploads/

# Log files
*.log

# htaccess
app/app/public/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes