.wcboost-products-compare__table {
	.product-remove {
		a {
			font-size: 24px;
			color: #555;
			display: block;
			text-align: center;
		}
	}

	.product-name {
		a {
			font-weight: 500;
		}
	}

	.price {
		color: var(--rz-text-color-gray);
		font-size: 16px;
		font-weight: 500;
		display: block;

		del {
			font-size: 14px;
			color: #a6a6a6;
		}

		ins {
			background-color: transparent;
			color: var(--rz-color-primary);
			padding-left: 5px;
		}
	}

	.woocommerce-price-suffix {
		display: inline-block;
	}

	.add_to_cart_button {
		text-transform: capitalize;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		@include razzi-button();
		cursor: pointer;
		border: none;

		&.loading {
			opacity: 0.5;
			color: transparent;
			&:after {
				position: absolute;
				top: 50%;
				left: 50%;
				height: 16px;
				width: 16px;
				display: inline-block;
				border-radius: 50%;
				border: 2px solid;
				border-top-color: transparent;
				-webkit-animation: razzi-spin infinite 1s linear;
				animation: razzi-spin infinite 1s linear;
				transition: opacity .2s linear .2s;
				content: "";
				margin-top: -8px;
				margin-left: -8px;
				color: var(--rz-color-lighter);
			}
		}

		.razzi-svg-icon {
			margin-right: 16px;
			display: inline-block;
			font-size: 19px;
		}
	}

	tr:last-child {
		th {
			border: none;
		}
	}
}

.wcboost-products-compare__tools {
	text-align: right;

	.wcboost-products-compare-clear {
		@include razzi-button();
	}
}

@media (max-width: 991px) {
	.wcboost-products-compare__table {

	}
}